.month-view {
	background-color: rgba(255, 0, 0, 0.4);
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.week-day-label {
	text-align: center;
	border-right: 1px dashed white;
	border-bottom: 2px solid white;
}

.week-day-label:last-child {
	border-right: none;
}

.calender-days {
	background-color: rgba(0, 0, 255, 0.3);
	gap: 5px;
	padding: 3px;
}

.day-div {
	background-color: rgba(0, 0, 255, 0.3);
	color: white;
	padding: 5px 0;
	padding-left: 25%;
	user-select: none;
	cursor: pointer;
}

.today {
	background-color: rgba(0, 0, 255, 0.5);
	outline: 2px dashed white;
}
