.list-todos-component {
	display: grid;
	grid-template-rows: auto 90vh;
}

.all-todos-listed {
	height: 90vh;
	overflow-y: scroll;
}

.list-todos-component-inside-day-with-todos {
	display: grid;
	grid-template-rows: 40px auto;
	height: 40%;
}

.inside-day-with-todos {
	height: 50vh;
}

.day-w-todos-grid {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

.todos-date-header {
	text-align: center;
	font-size: 40px;
}
